body {
    background: #061018;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* vertical side badge */
.side-badge {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background: rgba(255, 255, 255, 0.06);
    color: #dbefff;
    padding: .6rem .5rem;
    border-radius: .25rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* About */

.glow-box {
    border: 2px solid #00eaff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 238, 255, 0.5);
}

.service-box,
.skill-box {
    background: #0e1a24;
    padding: 25px;
    border-radius: 15px;
    transition: .3s;
}

.service-box:hover,
.skill-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 238, 255, 0.3);
}

.icon-circle {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, #00eaff, #007a8c);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
}

/* STATS */
.stats-box {
    background: #0e1a24;
    padding: 20px 10px;
    border-radius: 15px;
}

/* Service */
.service-card {
    background: #0e1a24;
    border-radius: 15px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: .3s;
}

.service-card:hover {
    border: 1px solid #00e0ff;
    box-shadow: 0 0 15px #00e0ff40;
}

.icon-box {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: linear-gradient(145deg, #00e0ff, #009dff);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 15px;
    box-shadow: 0 0 20px #00e0ff80;
}

h2 {
    font-weight: 700;
}

.section-title {
    letter-spacing: 2px;
    font-size: 12px;
    color: #00e0ff;
    margin-bottom: 5px;
}