body {
    background: #061018;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/* Logo */
.logo{
    font-family: "Bungee Shade", sans-serif;
}

/* vertical side badge */
.side-badge {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background: rgba(255, 255, 255, 0.06);
    color: #dbefff;
    padding: .6rem .5rem;
    border-radius: .25rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* About */

.glow-box {
    border: 2px solid #00eaff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 238, 255, 0.5);
}

.service-box {
    background: #0e1a24;
    padding: 25px;
    border-radius: 15px;
    transition: .3s;
}

.service-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 238, 255, 0.3);
}

.icon-circle {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, #00eaff, #007a8c);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #fff;
    margin-bottom: 15px;
}

/* STATS */
.stats-box {
    background: #0e1a24;
    padding: 20px 10px;
    border-radius: 15px;
}

/* Service */
.service-card {
    background: #0e1a24;
    border-radius: 15px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: .3s;
}

.service-card:hover {
    border: 1px solid #00e0ff;
    box-shadow: 0 0 17px #00e0ff40;
}

.icon-box {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: linear-gradient(145deg, #00e0ff, #009dff);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 15px;
    box-shadow: 0 0 20px #00e0ff80;
}

h2 {
    font-weight: 700;
}

.section-title {
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 5px;
}

/* Category Buttons (Latest Portfolio) */
.filter-btn {
    background: #0b1620;
    border: none;
    padding: 12px 34px;
    border-radius: 15px;
    font-size: 17px;
    color: #d6d8dc;
    font-weight: 500;
    transition: 0.3s ease;
}

.filter-btn:hover {
    background: #0e2233;
    transform: translateY(-3px);
}

.active-btn {
    background: linear-gradient(135deg, #005bbb, #009dff);
    color: #fff !important;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
}

.sub-text {
    color: #b8c4d2;
    font-size: 20px;
    line-height: 1.7;
}

/* Card container  (IMAGES)*/
.portfolio-card {
    background: #0b1620;
    border-radius: 25px;
    padding: 25px;
    transition: 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.portfolio-card:hover {
    box-shadow: 0 0 25px rgba(0, 200, 255, 0.25);
    transform: translateY(-5px);
}

.portfolio-img {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.portfolio-img img {
    width: 100%;
    border-radius: 20px;
}

/* Tags */
.tag {
    background: #0d2230;
    padding: 6px 18px;
    border-radius: 25px;
    font-size: 14px;
    color: #cbd5e1;
    margin-right: 8px;
}

/* Title */
.portfolio-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
}

/* View button */
.view-btn {
    background: #0d2230;
    padding: 12px 28px;
    border-radius: 25px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s;
}

.tag:hover {
    cursor: pointer;
    background: #1d77d8;
    /* border-color: #42cbe7; */
}

.view-btn:hover {
    background: #003f62;
    border-color: #007bff;
}

/* MY PRICE PLAN */
.section-label {
    color: #00b7ff;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
}

.main-heading {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
}

/* PRICE CARD */
.price-card {
    background: #07131f;
    border-radius: 25px;
    padding: 40px;
    height: 100%;
    transition: 0.3s;
}

.price-card:hover {
    transform: translateY(-5px);
}

.price-value {
    font-size: 48px;
    font-weight: 700;
}

.price-card hr {
    border-color: rgba(255, 255, 255, 0.1);
    margin: 25px 0;
}

.feature-item {
    font-size: 16px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #d7e1ea;
}

.feature-item i {
    color: #3ec6ff;
    font-size: 14px;
}

.btn-custom {
    border-radius: 50px;
    padding: 12px 28px;
    background: linear-gradient(to right, #0f1f2d, #1d3a52);
    border: 1px solid #2c536d;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}

.btn-custom:hover {
    background: linear-gradient(to right, #1d3a52, #0f1f2d);
}


/* LATEST NEWS */

.news-section-title {
    letter-spacing: 2px;
    color: #00b7ff;
    font-size: 14px;
}

.news-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

.news-card {
    background: #07131f;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.3s;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.author-row {
    font-size: 15px;
    color: #c7d2da;
}

.news-title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
    color: #fff;
}

.btn-news {
    border-radius: 50px;
    padding: 10px 28px;
    background: linear-gradient(to right, #0f1f2d, #1d3a52);
    border: 1px solid #2c536d;
    color: #fff;
    font-weight: 500;
    transition: 0.3s;
}

.btn-news:hover {
    background: linear-gradient(to right, #1d3a52, #0f1f2d);
}

/* Form */
.contact-box {
    background: #09141f;
    border-radius: 20px;
    padding: 60px 50px;
}

.left-box {
    background: linear-gradient(145deg, rgb(0, 215, 221), rgb(0, 65, 221));
    padding: 50px;
    border-radius: 20px;
    height: 100%;
}

.left-box h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.2;
}

.info-item {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.info-item i {
    font-size: 20px;
    background: #0f1f2e;
    padding: 15px;
    border-radius: 50%;
    margin-right: 15px;
}

.form-control {
    background: #143f6a;
    border: 1px solid #123;
    color: #fff;
    height: 55px;
    
}

textarea.form-control {
    height: 140px;
}

.form-control:focus {
    background: #0f1f2e;
    color: #fff;
    border-color: #1c75ff;
    box-shadow: none;
}

.btn-submit {
    background: #1e9bff;
    color: #fff;
    border-radius: 40px;
    padding: 14px 40px;
    border: none;
    font-size: 17px;
    margin-top: 25px;
}
